@model Complaint
@{
    ViewBag.Title = "Edit";
}

<form method="post">
    <div class="border p-3 mt-4">
        <div class="row pb-2">
            <h2 class="text-primary">Edit Complaint</h2>
            <hr />
        </div>
        <div class="mb-3 row p-1">
            <label asp-for="UserName" class="p-0">User Name</label>
            <input asp-for="UserName" class="form-control" />
        </div>
        <div class="mb-3 row p-1">
            <label asp-for="OrganizationId" class="p-0">OrganizationId</label>
            <input asp-for="OrganizationId" class="form-control" />
        </div>
        <div class="mb-3 row p-1">
            <label asp-for="Description" class="p-0">Description</label>
            <input asp-for="Description" class="form-control" />
        </div>
        <div class="row">
            <div class="col-6 col-md-3">
                <button type="submit" class="btn btn-primary form-control">Edit</button>
            </div>
            <div class="col-6 col-md-3">
                <a asp-controller="Complaint" asp-action="Index" class="btn btn-secondary border form-control">
                    Back to List
                </a>
            </div>
        </div>
    </div>
</form>






@*@model Complaint
<h2>Complaint</h2>
@using (Html.BeginForm("Edit", "Home", FormMethod.Post))
{
    <fieldset>
        
        <p>
            @Html.LabelFor(m => m.OrganizationId, "OrganizationId")
            <br />
            @Html.EditorFor(m => m.OrganizationId)
        </p>
        <p>
            @Html.LabelFor(m => m.Description, "Description")
            <br />
            @Html.EditorFor(m => m.Description) 
        </p>
        <p>
            @Html.LabelFor(m => m.Status, "Status")
            <br />
            @Html.EditorFor(m => m.Status)
        </p>
        <p>
            @Html.LabelFor(m => m.ResponceId, "ResponceId")
            <br />
            @Html.EditorFor(m => m.ResponceId)
        </p>

        <div class="col-6 col-md-3">
            <button type="submit" class="btn btn-danger form-control">Edit</button>
        </div>
    </fieldset>
}*@